*.asc
!public*.asc
# pgp_keys.asc
__pycache__/
run_node.bat
scrap*
*.db
*.pickle
shelf*
# backend stuff
backend_venv/
# kivy stuff (might add later, not worth missing deadline for it)
kivy_venv/
.buildozer/
build/
dist/
*.spec
*.xcworkspace
.cache/
bin/
pollen.im.app/
